@import "./assets/less/fonts.scss";
@import "./assets/less/variables.scss";
body{
    font-size: ($df-fs/1366*100)*$vw;
    @media(max-width: 575px) {
      font-size:(15/575*100)*$vw;
    }
    @media(max-width: 320px) {
      font-size:($mobi-fs/320*100)*$vw;
    }
    font-family: "Montserrat",sans-serif;
    /*font-size: 14px;*/
    font-weight: normal;
    line-height: 1.5;
    color: $c-383;
    background-color: $c-f9f;
    @media only screen and (max-width: 575px) {
        background-color: red;
      }
      background-color: blue;
  }