@import "../../assets/less/variables.scss";
@import "../../assets/less/fonts.scss";

.navbar-maxdino {
    background-color: $c-383;
    border: none;
    border-radius: 0;
    color: $c-fff;
    background-color: #383a4a;
    .form-select{
      position: relative;
      margin-right: 30px;
      select {
        padding-left: 30px;
        color: #36b662;
        font-weight: bold;
      }
    }
    .img-question-mark {
      position: absolute;
      left: 10px;

    }
    .form-search {
      position: relative;
      .nav-form-input {
        padding-left: 40px;
        
        border-radius: 55px;
       /* @media only screen and (min-width:  1024px) { 
          width: 570px;
        }*/
        
      }
      
    }
    .search {
      position: absolute;
      left:10px;
    }
    .nav-right {
      > li {
        font-size: 24px;
        margin-right: 20px;
      }
    }

}